// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');

// Variables + Basics
@import "variables";
@import "base";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Additional Styles
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
*{
  -webkit-font-smoothing: antialiased;

}

body {
  background: #fafafa;
  font-family: "Asap", sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

.header{
  background-color: #FFF;
  position: relative;
  height: 77px;
  margin-bottom: 20px;
  box-shadow: 0 1px 10px rgba(0,0,0,0.05);
}
.navbar-nav a{
  font-weight: bolder;
  font-size: 12px;
  text-transform: uppercase;
  color: #19979e;
  margin-top: 13px;
  background: none !important;
  &:hover{
    color: #004144;
  }
}

svg{
  overflow: visible !important;
}

#messageToolTipDiv{
  position:absolute;
  z-index:10000;
  border: 2px solid black;
  background-color:rgba(0,0,0,0.8);
  margin:auto;
  padding:3px 5px 3px 5px;
  color:white;
  font-size:12px;
  font-family:arial;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
  min-width:50px;
  overflow:auto;
  display: none;
}
.history-wrapper{
  padding-top: 5px;
  padding-bottom: 15px;
  height: 50px;
}
.filter-btn{
  background-color: #c54c62;
  border-radius: 6px;
  padding: 5px 20px;
  color: #FFF !important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 2px;
  display: inline-block;
  &:hover{
    color: #FFF !important;
    background-color: darken(#c51737,5%);
  }
}
g.kill circle, g.kill text {
  transition: all 0.3s cubic-bezier(0.1, 1.05, 0.85, 1.04);
  transform: scale(0.4);
  opacity: 0;
}
circle {
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  font-weight: bold;
  &.hovered{
    transform: scale(1.2) !important;
    fill-opacity: 1;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  &.not-hovered{
    fill-opacity: .4;
  }
}


text {
  text-anchor: middle;
  font-weight: bold;
}
tspan{
  font-size: 14px;
  text-transform: uppercase;
  fill: #FFF !important;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.gdlr-core-title-item-side-border {
  display: inline-block;
  width: 40px;
  vertical-align: middle;
  margin-bottom: 6px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  margin-right: 20px;
}
.container{
  width: 1170px;
  margin: 70px auto 0;
  .col-7{
    width: 60%;
    float: left;
    height: 500px;
    position: relative;
  }
  .col-3{
    float: right;
    width: 40%;
    color: #6a6f72;
    font-size: 14px;
    border-left: 1px solid #ddd;
    height: 500px;
    line-height: 21px;
    padding-left: 20px;
    a{
      text-decoration: none;
    }
    h3{
      color: #383838;
      margin-top: 10px;
      font-weight: bold;
    }
    .link{
      background-color: #20989e;
      padding: 5px 20px;
      border-radius: 20px;
      color: #FFF;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 11px;
      letter-spacing: 2px;
      display: inline-block;
      text-decoration: none;
    }
  }
}

.no-data{
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  color: #cacdd0;
  padding-top: 140px;
}